In [6]:
import dataset_models
import imp
imp.reload(dataset_models)

import pandas as pd
from dataset_models import Umi, session, db, Dataset, GeneGoTerm, UmiGeneId, GoTerm, NcbiGene, Segment

rsq = pd.read_sql_query
sq = session.query

from sqlalchemy import desc, asc, func, distinct
import pandas as pd
import numpy as np
import json

In [18]:
dataset = "3334811312093344"
datasetId = lambda x: str(x)[:8]
goterm_query="ribo"

subq = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_matched')).join(UmiGeneId).join(NcbiGene).join(GeneGoTerm).join(GoTerm)\
  .filter(GoTerm.go_name.ilike(f"%{goterm_query}%")).group_by(Umi.seg).subquery()

subq2 = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_all'))\
  .group_by(Umi.seg).subquery()

out4 = rsq(sq(distinct(Segment.id).label("segment"),subq.c.count_matched,subq2.c.count_all).join(Umi).join(UmiGeneId).join(NcbiGene).join(GeneGoTerm).join(GoTerm)\
.join(subq, subq.c.seg == Segment.id)\
.join(subq2, subq2.c.seg == Segment.id)\
.filter(GoTerm.go_name.ilike(f"%{goterm_query}%"))\
.filter(Segment.dsid == datasetId(dataset))\
.statement, db)





out4["enrichment"]  = out4.count_matched / out4.count_all
wholecells=out4.loc[out4.count_all >1]

out5 = rsq(sq(Umi.idx, Umi.seg).filter(Umi.seg.in_(wholecells.segment.astype(object).unique())).statement, db).join(wholecells,on="seg").dropna()[["idx","enrichment"]]

# return json.dumps([list(e) for e in out5[["idx","enrichment"]].astype(object).values])

In [27]:
dataset = "3334811312093344"
datasetId = lambda x: str(x)[:8]
goterm_query="ribo"

subq = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_matched')).join(UmiGeneId).join(NcbiGene).join(GeneGoTerm).join(GoTerm)\
  .filter(GoTerm.go_name.ilike(f"%{goterm_query}%")).group_by(Umi.seg).subquery()

subq2 = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_all'))\
  .group_by(Umi.seg).subquery()

out4 = rsq(sq(distinct(Segment.id).label("segment")).join(Umi).join(UmiGeneId).join(NcbiGene).join(GeneGoTerm).join(GoTerm)\
.filter(GoTerm.go_name.ilike(f"%{goterm_query}%"))\
.filter(Segment.dsid == datasetId(dataset))\
.statement, db)

In [28]:

out4 = rsq(sq(distinct(Segment.id).label("segment")).join(Umi).join(UmiGeneId).join(NcbiGene).join(GeneGoTerm).join(GoTerm)\
.filter(GoTerm.go_name.ilike(f"%{goterm_query}%"))\
.filter(Segment.dsid == datasetId(dataset))\
.statement, db)


# out4["enrichment"]  = out4.count_matched / out4.count_all
# wholecells=out4.loc[out4.count_all >1]

out5 = rsq(sq(Umi.idx, Umi.seg).filter(Umi.seg.in_(out4.segment.astype(object).unique())).statement, db).dropna()[["idx"]]

In [29]:
out5

           idx
0       205212
1       203526
2       203046
3       201473
4       201209
5       200582
6       199790
7       199029
8       195563
9       191699
10      190297
11      189779
12      189625
13      185108
14      184111
15      183211
16      182611
17      182607
18      182473
19      179209
20      178823
21      178551
22      177372
23      175303
24      174229
25      173127
26      172619
27      170405
28      169615
29      169036
...        ...
172283  204739
172284  204749
172285  204752
172286  204755
172287  204787
172288  204797
172289  204798
172290  204813
172291  204843
172292  204845
172293  204853
172294  204913
172295  204942
172296  204975
172297  205012
172298  205087
172299  205146
172300  205198
172301  205281
172302  205292
172303  205294
172304  205309
172305  205312
172306  205331
172307  205342
172308  205415
172309  205444
172310  205503
172311  205509
172312  205519

[172313 rows x 1 columns]

In [20]:
sq(Segment).filter(Segment.dsid== datasetId(dataset)).count()

37913

In [12]:


out4["enrichment"]  = out4.count_matched / out4.count_all
wholecells=out4.loc[out4.count_all >1]

out5 = rsq(sq(Umi.idx, Umi.seg).filter(Umi.seg.in_(wholecells.segment.astype(object).unique())).statement, db).join(wholecells,on="seg").dropna()[["idx","enrichment"]]

# return json.dumps([list(e) for e in out5[["idx","enrichment"]].astype(object).values])

In [524]:
dataset = "5838205499823053"
datasetId = lambda x: str(x)[:8]
goterm_query = "membrane"
subq = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_matched')).join(UmiGoTerm).join(GoTerm)\
  .filter(GoTerm.go_name.ilike(f"%{goterm_query}%")).group_by(Umi.seg).subquery()

subq2 = session.query(Umi.seg,func.count(distinct(Umi.id)).label('count_all'))\
  .group_by(Umi.seg).subquery()

out4 = rsq(sq(distinct(Segment.id).label("segment"),subq.c.count_matched,subq2.c.count_all).join(Umi).join(UmiGoTerm).join(GoTerm)\
.join(subq, subq.c.seg == Segment.id)\
.join(subq2, subq2.c.seg == Segment.id)\
.filter(GoTerm.go_name.ilike(f"%{goterm_query}%"))\
.statement, db)

out4["enrichment"]  = out4.count_matched / out4.count_all
wholecells=out4.loc[out4.count_all >1]
print(len(wholecells))

181

In [505]:
len(out4.segment.astype(object).unique())

748

In [537]:
rsq(sq(Umi.idx, Umi.seg).filter(Umi.seg.in_(wholecells.segment.astype(object).unique())).statement, db).join(wholecells,on="seg").dropna()[["idx","enrichment"]]

         idx  seg  segment  count_matched  count_all  enrichment
6526   35002   12    257.0           33.0       96.0    0.343750
6527   34935   12    257.0           33.0       96.0    0.343750
6528   34544   12    257.0           33.0       96.0    0.343750
6529   34442   12    257.0           33.0       96.0    0.343750
6530   34353   12    257.0           33.0       96.0    0.343750
6531   34224   12    257.0           33.0       96.0    0.343750
6532   33877   12    257.0           33.0       96.0    0.343750
6533   33813   12    257.0           33.0       96.0    0.343750
6534   33752   12    257.0           33.0       96.0    0.343750
6535   32047   12    257.0           33.0       96.0    0.343750
6536   31192   12    257.0           33.0       96.0    0.343750
6537   30455   12    257.0           33.0       96.0    0.343750
6538   30151   12    257.0           33.0       96.0    0.343750
6539   29488   12    257.0           33.0       96.0    0.343750
6540   29344   12    257.0           33.0       96.0    0.343750
6541   28979   12    257.0           33.0       96.0    0.343750
6542   28706   12    257.0           33.0       96.0    0.343750
6543   28591   12    257.0           33.0       96.0    0.343750
6544   28062   12    257.0           33.0       96.0    0.343750
6545   27577   12    257.0           33.0       96.0    0.343750
6546   27513   12    257.0           33.0       96.0    0.343750
6547   27282   12    257.0           33.0       96.0    0.343750
6548   27259   12    257.0           33.0       96.0    0.343750
6549   26880   12    257.0           33.0       96.0    0.343750
6550   26859   12    257.0           33.0       96.0    0.343750
6551   26742   12    257.0           33.0       96.0    0.343750
6552   26635   12    257.0           33.0       96.0    0.343750
6553   26582   12    257.0           33.0       96.0    0.343750
6554   26334   12    257.0           33.0       96.0    0.343750
6555   26125   12    257.0           33.0       96.0    0.343750
...      ...  ...      ...            ...        ...         ...
26070  18660  658    233.0           26.0       97.0    0.268041
26071  16210  658    233.0           26.0       97.0    0.268041
26072  15787  658    233.0           26.0       97.0    0.268041
26073  15674  658    233.0           26.0       97.0    0.268041
26074  15111  658    233.0           26.0       97.0    0.268041
26075  15024  658    233.0           26.0       97.0    0.268041
26076  14050  658    233.0           26.0       97.0    0.268041
26077  13660  658    233.0           26.0       97.0    0.268041
26078  12733  658    233.0           26.0       97.0    0.268041
26079  11658  658    233.0           26.0       97.0    0.268041
26080  10891  658    233.0           26.0       97.0    0.268041
26081  10758  658    233.0           26.0       97.0    0.268041
26082   9548  658    233.0           26.0       97.0    0.268041
26083   9509  658    233.0           26.0       97.0    0.268041
26084   8743  658    233.0           26.0       97.0    0.268041
26085   8741  658    233.0           26.0       97.0    0.268041
26086   8340  658    233.0           26.0       97.0    0.268041
26087   7995  658    233.0           26.0       97.0    0.268041
26088   7927  658    233.0           26.0       97.0    0.268041
26089   7722  658    233.0           26.0       97.0    0.268041
26090   6767  658    233.0           26.0       97.0    0.268041
26091   5826  658    233.0           26.0       97.0    0.268041
26092   5442  658    233.0           26.0       97.0    0.268041
26093   4562  658    233.0           26.0       97.0    0.268041
26094   3936  658    233.0           26.0       97.0    0.268041
26095   2722  658    233.0           26.0       97.0    0.268041
26096   2712  658    233.0           26.0       97.0    0.268041
26097   2625  658    233.0           26.0       97.0    0.268041
26098   1872  658    233.0           26.0       97.0    0.268041
26099   1857  658    233.0           26.0       97.0    0.268041

[1940 rows x 6 columns]

In [486]:
len(wholecells)

3384

In [492]:
len(out4.loc[out4.segment==3])

769

In [489]:
out4.segment.nunique()

787

In [188]:

geneid_query = 381
#API QUERY FOR UMIS BY GENEID
out1 = list(rsq(sq(Segment.id).join(Dataset)\
    .join(Umi).join(UmiGeneId).join(NcbiGene)\
      .filter(Dataset.id==datasetId(dataset)).filter(NcbiGene.geneid==int(geneid_query)).statement,db)\
        .id.values)